<div class="subscribe">
    <hr />
    <ul>
        <li>
            <p class="contact"> Subscribe: </p>
        </li>
        <li class="itunes">
            <a href="https://itunes.apple.com/us/podcast/paper-boys/id1434648452?mt=2#" target="_blank">
                {% include icons/applepodcasts.svg %}
            </a>
        </li>
        <p></p>
        <li class="spotify">
            <a href="https://open.spotify.com/show/3QxiGvoATJLxNw0264LaMy" target="_blank">
                {% include icons/spotify.svg %}
            </a>
        </li>
        <li class="overcast">
            <a href="https://overcast.fm/itunes1434648452/paper-boys" target="_blank">
                {% include icons/overcast.svg %}
            </a>
        </li>
        <li class="googleplay">
            <a href="https://play.google.com/music/m/I53bjlbje54eb36zaj6itowy25u?t=Paper_Boys" target="_blank">
                {% include icons/googleplay.svg %}
            </a>
        </li>
        <li class="rss">
            <a href="https://pinecast.com/feed/paperboys" target="_blank">
                {% include icons/rss.svg %}
            </a>
        </li>
    </ul>
</div>
